.idea
__pycache__
.directory
.vscode
build
dist
vidcutter.egg*
_build/pyinstaller/build
_build/pyinstaller/dist
_build/pyinstaller/temp
_build/InnoSetup/Output/
vidcutter/vidcutter.*/
*.log
*.dll
*.BAK
vidcutter/vidcutter
vidcutter/vidcutter.exe
.openshift
vidcutter/bin/
.DS_Store
_packaging/appimage/out/*
_packaging/appimage/VidCutter/*
