.idea
__pycache__
.directory
.vscode
.vs
build
dist
vidcutter.egg*
_build/pyinstaller/build
_build/pyinstaller/dist
_build/pyinstaller/temp
_build/InnoSetup/Output
vidcutter/vidcutter.*/
*.BAK
vidcutter/vidcutter
vidcutter/vidcutter.exe
.openshift
vidcutter/bin/
bin/
.DS_Store
_packaging/appimage/*/
_packaging/pyqtdeploy/
_pyqtdeploy
testing
_build/pyinstaller/libmpv
mpv-1.dll
D3DCompiler_*.dll
d3dcompiler_*.dll
MediaInfo.dll
*.*.nupkg
*.so
*.pyd
