.idea
__pycache__
.directory
.vscode/
build/
dist/
_build/pyinstaller/build
_build/pyinstaller/dist
vidcutter.*/
*.log
*.dll
*.BAK
vidcutter
vidcutter.exe
.openshift
bin/ffmpeg.exe
bin/ffmpeg.zip
docs/_tvlinker
_packaging/archlinux/pkg
_packaging/archlinux/src
_packaging/archlinux/vidcutter-git
_packaging/archlinux/vidcutter-git-*.pkg.tar.xz
