[submodule "vidcutter"]
	path = _packaging/archlinux/vidcutter
	url = https://aur.archlinux.org/vidcutter.git
[submodule "vidcutter-git"]
	path = _packaging/archlinux/vidcutter-git
	url = https://aur.archlinux.org/vidcutter-git.git
