[Desktop Entry]
Name=VidCutter
GenericName=Video Cutter + Joiner
X-GNOME-FullName=VidCutter
Comment=Simple & fast FFmpeg based video cutter & joiner
Exec=vidcutter %f
Terminal=false
Type=Application
Icon=vidcutter
Categories=Qt;KDE;AudioVideo;Video;AudioVideoEditing;
Keywords=editing;video;audio;ffmpeg;qt;python;pyqt5;
MimeType=application/x-vidcutter;video/x-msvideo;video/x-ms-wmv;video/x-matroska-3d;video/x-matroska;video/x-flv;video/webm;video/quicktime;video/mpeg;video/mp4;video/3gpp2;video/3gpp;
StartupNotify=true
