Source: vidcutter
Maintainer: Pete Alexandrou <pete@ozmartians.com>
Section: video
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, python3-dev, libmpv-dev, debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: http://vidcutter.ozmartians.com

Package: vidcutter
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-pyqt5, python3-pyqt5.qtopengl, libmpv1, ffmpeg | libav-tools, mediainfo, python3-opengl
Description: the simplest + fastest video cutter & joiner
 The simplest & sexiest tool for cutting and joining your videos without the need for
 re-encoding or a diploma in multimedia. VidCutter focuses on getting the job done
 using tried and true tech in its arsenal via mpv and FFmpeg.
 .
