Source: vidcutter
Maintainer: Pete Alexandrou <pete@ozmartians.com>
Section: video
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://vidcutter.ozmartians.com

Package: vidcutter
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-pyqt5, python3-pyqt5.qtmultimedia,
 qtmultimedia5-dev, ffmpeg, python3-qtawesome
Description: FFmpeg based video cutter & joiner with a modern PyQt5 GUI
 Cross-platform Qt5 based app for quick and easy video trimming/splitting and merging/joining for simple quick edits.
 FFmpeg dives the backend with a stylishly hand edited Qt5 UI. FFmpg static binary is pre-installed for Windows builds.
 For non-windows, use your o/s package manager if on Linux and homebrew for Mac OS X to manage FFmpeg. It is most
 likely already installed on your Linux or macOS machine.
 .
