[Desktop Entry]
Categories=Qt;KDE;AudioVideo;Video;AudioVideoEditing;
Comment[en_US]=Simple & fast FFmpeg based video cutter & joiner
Comment=Simple & fast FFmpeg based video cutter & joiner
Exec=vidcutter %f
GenericName[en_US]=Video Cutter + Joiner
GenericName=Video Cutter + Joiner
Icon=vidcutter
Keywords=editing;video;audio;ffmpeg;qt;python;pyqt5;
MimeType=application/x-vidcutter;video/x-msvideo;video/x-ms-wmv;video/x-matroska-3d;video/x-matroska;video/x-flv;video/webm;video/quicktime;video/mpeg;video/mp4;video/3gpp2;video/3gpp;
Name[en_US]=VidCutter
Name=VidCutter
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-Desktop-File-Install-Version=0.23
X-DocPath=
X-KDE-SubstituteUID=false
X-KDE-Username=
