[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=VidCutter
GenericName=Video Editor
Comment=Video cutter & joiner
Exec=vidcutter %f
Icon=vidcutter
Terminal=false
StartupNotify=true
Categories=Qt;KDE;AudioVideo;Video;AudioVideoEditing;
MimeType=application/x-vidcutter;
Keywords=video;film;movie;editor;
