pkgbase = vidcutter
	pkgdesc = FFmpeg based video cutter & joiner with a modern PyQt5 GUI
	pkgver = 2.0.1
	pkgrel = 1
	url = http://vidcutter.ozmartians.com
	install = vidcutter.install
	arch = any
	license = GPL3
	makedepends = git
	makedepends = sed
	makedepends = python-setuptools
	depends = python-pyqt5
	depends = qt5-multimedia
	depends = ffmpeg
	conflicts = vidcutter-git
	source = https://github.com/ozmartian/vidcutter/archive/2.0.1.tar.gz
	md5sums = SKIP

pkgname = vidcutter

